html{margin:0;padding:0;box-sizing:border-box;color:#fff;overflow-x: hidden;}
body{min-height: 100vh;width: 100%;
    background: #101010;
    font-family: 'Montserrat', sans-serif;
    color:inherit;
}

.nav-link:focus,.nav-link:active{
    outline: none;
    border: none;
}
.posterimage,.slide{
    -moz-transition: 0.3s opacity ease-in-out;
    -webkit-transition: 0.3s opacity ease-in-out;
    -o-transition: 0.3s opacity ease-in-out;
     transition: 0.3s opacity ease-in-out;
}
.posterimage:hover{
    opacity: 1;
}
#btnScrolltoTop{position:fixed;right:10px;bottom:10px;width:50px;height:50px;border-radius:50%;background:#2e2e2e;color:#fff;outline:none;border:none
}
/* recent movies carousel */
.autoslide .row{
    flex-wrap: nowrap;
}
.slick-slide{
    height: unset !important;
}
.slick-slide img{
    width: 100%;
}
.navbar{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.moviedesc{
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
position:absolute;
bottom:0;
left:0;
-ms-transform:translateY(200px);
-moz-transform:translateY(200px);
-webkit-transform:translateY(200px);
-o-transform:translateY(200px);
transform:translateY(200px);
opacity:0.5;
width:100%;
}
.desc{
height:100px;
font-size:13px;
font-weight:bold;
position:relative;
background:#C4C4C4;
color:#101010;
overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-line-clamp:3;
-moz-line-clamp:3;
-o-line-clamp:3;
-webkit-box-orient:vertical;
-moz-box-orient:vertical;
-o-box-orient:vertical;
}
.navlink, .navbarul form{
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
}
.sticky{
    padding: 5px 10px;
    background: #C4C4C4;
}
.sticky .navlink, .sticky .navbarul form{
    top: 10px;
}
a:hover{
    text-decoration: none;
}
.navlink:hover, .navlink:focus{
    color: #f00;
    font-size: 23px;
}
.logout{
    border: 1px solid #fdff00;
    border-radius: 70px;
    padding: 10px;
    font-size: 16px;
}
.logout:hover, .logout:focus{
    background: #fdff00;
    color: #222;
    font-size: initial;
}
.displayList li{
    list-style: none;
}
.moviebar:focus{
    outline: none;
    color: #101010;
}
#marker{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.moviebar:hover{
    color: #f00;
}
.row1 img:hover{
    opacity: 0.35;
}
.moviename b:hover{
    color: #fa0000;
}
.row1:hover .moviedesc{
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
     transform: translateY(0px);
}
.row1:hover .moviename{
    opacity: 0;
}
.linesearch{
    height: 1px;
    background: #3a3c3f;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { 
    background-color: initial; 
    border: none;
    color: #000;
}
.nav-tabs .nav-link:hover{
    border: none;
}
/* footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-top: 100px;
}
.quickLinks {
    position: relative;
    width: 100%;
    display: inline-flex;
}
.quickLinks ul{
    margin: 10px 20px 0px;
}
footer p {
    color: #C4C4C4;
}
.sci {
    margin-top: 20px;
    display: flex;
}
.sci li {
    list-style: none;
}
.sci li a img{
    margin: 5px;
}
ul{
    padding-left: 0;
}
.sci li a {
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #c4c4c4a9;
}
.quickLinks{
    position: relative;
    width: 100%;
}
.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a{
    color: #C4C4C4;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: #f00;
}
/* contact us form */
.contactus form{
    background: #C4C4C4;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    z-index: 1;
}
.contactus form label{
    margin: 10px 5px;
    font-weight: bold;
    color: #222;
}
.contactus form textarea:focus{
    outline: none;
}
.contactus form button{
    display: block;
    margin: 10px auto;
    width: 50%;
    border-radius: 20px;
}
.contactus .loginus{
    margin-top: 200px;
}
.ctnsuccess{
    color: green;
    z-index: 2;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 1px;
}
@media only screen and (min-width:768px){#wrapper{background:url("admin/poster/poster320.jpg");}}
@media only screen and (max-width:768px){#wrapper{background:url("admin/poster/poster320.jpg");}}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
}
.dropdown-menu{
    top: 200%;
    letter-spacing: .5px;
}
.dropdown-item:hover{
    background: #101010;
    color: #f00;
    font-weight: bold;
}
.searching{
    white-space: nowrap;
    display: block;
    color: #222;
    background: #fff;
    line-height: 30px;
    letter-spacing: .5px;
    padding: 5px;
    width: 100%;
}
.searching:hover{
    color: #f00;
    background: #222;
    font-weight: bold;
}
::-webkit-scrollbar{width: 13px;}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(253,255,0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(253,255,0, 0.3);
    box-shadow: inset 0 0 6px rgba(253,255,0, 0.3);
    background: #C4C4C4;
    height: 2px;
}
::-webkit-scrollbar-thumb:hover{
    background: #c4c4c4a9;
}
/* download page css */
.block h1{
    letter-spacing: 2px;
}
article{
    width: 91%;
    border-radius: 10px 0px 10px 0px;
    font-size: 20px;
}
.version{
    font-size: 14px;
    text-transform: uppercase;
    color: #fdff00;
    white-space: nowrap;
}
#btnScrolltoTop{
    cursor: pointer;
}
#btnScrolltoTop:active{
    background: #fdff00;
}

/* Request Movies */
.requestform input:focus{
    background: inherit;
    outline: none;
    color: #fff;
}
/* download box links */
.box{
    display: flex;
    width: 100%;
    background: #fff;
    transition: 2ms all ease-in-out;
}
.box:hover{
    background: #fdff00;
}
.box h6{
    color: #222;
    font-size: 20px;
}
/*.seasbox{*/
/*    background: #C4C4C4;*/
/*}*/
.season{
    font-size: 24px;
    background: #2e2e2e;
    letter-spacing: 2px;
}

/* popup download */
.popup-wrapper{
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.5);
    position: fixed;
    z-index: 1;
    display: none;
    top: 10%;
    margin: -25px;
}
.h2{
    letter-spacing: 2px;
}
.popup-wrapper .button{
    position: relative;
    width: fit-content;
}
.linkcontent{
    display: flex;
    height: 45;
    margin: 20px;
}
.popup-wrapper .button div input{
    background: #2e2e2e;
    text-align: center;
}
/* error span */
.animate{
    animation: back 1s ease;
    -webkit-animation: back 1s ease;
    -moz-animation: back 1s ease;
    -o-animation: back 1s ease;
}
.spanerror{
    position: absolute;
    background: #171717;
    box-shadow: 1px 1px 5px 2px #f00;
    display: inline-block;
    top: -40;
    padding: 10px;
    text-align: center;
}
.spanerror h5{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}
/* season & episode section */
@keyframes back {
    0%  {-webkit-transform: translateX(0%);}
    0%  {-moz-transform: translateX(0%);}
    0%  {-o-transform: translateX(0%);}
    50% {-webkit-transform: translateX(55%);}
    50% {-moz-transform: translateX(55%);}
    50% {-o-transform: translateX(55%);}
    100% {-webkit-transform: translateX(110%);}
    100% {-moz-transform: translateX(110%);}
    100% {-o-transform: translateX(110%);}
}
/* media queries */
@media only screen and (min-width: 1450px){
    #output{
        left: 12%;
    }
}
@media only screen and (min-width: 2200px) {
    /* *{*/
    /*    font-size: 26px;*/
    /*}*/
.desc{
    font-size:26px;height:250px;
}
.moviedesc{
    bottom:-20px;
}
    .navlink:hover{
        font-size: 33px;
    }
    #btnScrolltoTop{width:150px;height:150px;}
    #btnScrolltoTop i{
        font-size: 70px;
    }
    .moviename{
        letter-spacing: 4px;
    }
}
@media only screen and (min-width: 3000px){
    footer{
        margin-top: 440px;
    }
    .moviedesc{bottom:-400px;}.desc{height:600px;font-size:30px;}
    #btnScrolltoTop {
        width: 200px;
        height: 200px;
    }
    #btnScrolltoTop i {
        font-size: 94px;
    }
    .dropdown-menu.show li a{
        font-size: 40px;
    }
    .navlink:hover{
        font-size: 44px;
    }
}
@media only screen and (max-width: 768px) {
#check:checked+#select ~ .navbarul{
	display: none;
}
.listitem{
    margin: 0px 10px;
}
.desc{font-size:10px;height:90px;}
.block{
    height: 70px;
    font-size: 20px;
}
.block h3{
    margin-top: 2rem !important;
    margin-left: 1rem !important;
}
body > section > div.row.youtube > div.col-12.col-md-9 > div, iframe{
    width: 100%;
}
.season{
    font-size: 18px;
}
.box h6{
    font-size: 16px;
}
article{
    font-size: 17px;
}
#output{
    width:80%;
}
    }
@media only screen and (max-width: 520px) {
    .navlink{
        font-size: 18px;
    }
    .desc{font-size:8px;height:80px;}
    .nav-link{
        font-size: 20px;
    }
    .season{
        font-size: 16px;
    }
    .version{
        font-size: 12px;
    }
    .rldvideos, .requestform{
        position: relative;
        width: 70%;
        left: 15%;
    }
    .error{
        left: 15%;
    }
}
@media only screen and (max-width: 380px) {
    .navlink{
        font-size: 16px;
    }
    .nav-link{
        font-size: 18px;
    }
}